<link rel="apple-touch-icon" sizes="180x180" href="http://ev1l0rd.github.io/favicons/apple-touch-icon.png?v=YAKb7mW4yR">
<link rel="icon" type="image/png" sizes="32x32" href="http://ev1l0rd.github.io/favicons/favicon-32x32.png?v=YAKb7mW4yR">
<link rel="icon" type="image/png" sizes="16x16" href="http://ev1l0rd.github.io/favicons/favicon-16x16.png?v=YAKb7mW4yR">
<link rel="manifest" href="http://ev1l0rd.github.io/favicons/manifest.json?v=YAKb7mW4yR">
<link rel="mask-icon" href="http://ev1l0rd.github.io/favicons/safari-pinned-tab.svg?v=YAKb7mW4yR" color="#5bbad5">
<link rel="shortcut icon" href="http://ev1l0rd.github.io/favicons/favicon.ico?v=YAKb7mW4yR">
<meta name="apple-mobile-web-app-title" content="evi's blag">
<meta name="application-name" content="evi's blag">
<meta name="msapplication-config" content="http://ev1l0rd.github.io/favicons/browserconfig.xml?v=YAKb7mW4yR">
<meta name="theme-color" content="#ffffff">
