<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="stylesheet" href="{{ site.url }}/style.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
		<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
		<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
	</head>
	<body>
		<header class="site-header">
		{% if site.title %}
			<h1>
				<a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
				          <nav>
            					<a href="{{ site.baseurl }}/">Blog</a>
            					<a href="{{ site.baseurl }}/about">About</a>
            					<a href="{{ site.baseurl }}/tags">Tags</a>
            					<a href="{{ site.baseurl }}/qemu-distros">QEMU-D</a>
          				</nav>
			</h1>
		{% else %}
			<a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
		{% endif %}
		</header>
		<div class="content" role="main">
			{{ content }}
		</div>
		{% if paginator %}
		<nav class="pagination group" role="navigation">
		{% if paginator.next_page %}
			<a href="{{paginator.next_page_path}}">&larr;</a>
		{% endif %}
		{% if paginator.previous_page %}
			<a href="{{paginator.previous_page_path}}">&rarr;</a>
		{% endif %}
		</nav>
		{% endif %}
		<footer class="site-footer">
			<small class="copyright">Copyright &copy; oneohthree</small>
		</footer>
		<script>
			document.body.onscroll = function() {
				var e = document.getElementById('go-top');
				if (document.body.scrollTop !=0 || document.documentElement.scrollTop != 0) {
					e.style.right = '.5em';
				}
				else e.style.right = '-1em';
			}
			var timeOut;
			function scrollToTop() {
				if (document.body.scrollTop !=0 || document.documentElement.scrollTop != 0) {
					window.scrollBy(0,-50);
					timeOut=setTimeout('scrollToTop()',5);
				}
				else clearTimeout(timeOut);
			}
		</script>
		{% include analytics.html %}
	</body>
</html>


<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
   <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/tags">Tags</a>
            <a href="{{ site.baseurl }}/qemu-distros">QEMU-D</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
	  {% include footer.html %}
        </footer>
      </div>
    </div>

    
  </body>
</html>
